install.sh
logs/
.nextflow/
.nextflow.log*
work/
results/
test_results/

datalake/

*.parquet
*.jsonl
*.jsonl.zst
uniprot_lake/
test_json/med.json.gz

env/
.mamba/
micromamba/
lib/
include/
share/

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

.DS_Store
.vscode/
.ipynb_checkpoints/