.nextflow/
.nextflow.log*
work/
results/
test_results/

datalake/

*.parquet
*.jsonl
*.jsonl.zst
uniprot_lake/
sample.jsonl

env/
.mamba/
micromamba/
bin/
lib/
include/
share/

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

.DS_Store
.vscode/